
.dock {
  position: fixed;
  --left_space: 17px;
  /* bottom: 10px;
  left: 28vw;
  right: 28vw; */
  left: 96vw;
  top: 28vh;
  z-index: 1;
  /* background-color: #ffffff; */
  flex-direction: column;
  display: flex;
  flex-direction: column;
  height: auto;
  /* width: 10px; */
  padding-bottom: 10px;
  border-radius: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

a{
  margin-top: 15px;
}

svg{}

.cv {
  /* position: absolute; */
  /* left: var(--left_space); */
  /* top: 10px; */
  z-index: 1;
  fill: rgb(115, 37, 37);
  transition: 50ms transform ease;
}

.cv:hover {
  fill: grey;
}

.linkedin {
  /* position: absolute; */
  /* top: 75px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: #0e76a8;
}

.linkedin:hover {
  opacity: 0.6;
}

.instagram {
  /* position: absolute; */
  /* top: 140px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: #e1306c;
}
.instagram:hover {
  opacity: 0.6;
}

.github {
  /* position: absolute; */
  /* top: 205px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: rgb(3, 0, 0);
}
.github:hover {
  opacity: 0.6;
}

.email {
  /* position: absolute; */
  /* top: 270px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: #18b5f0;
}

.email:hover {
  opacity: 0.6;
}

.spotify {
  /* position: absolute; */
  /* top: 335px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: green;
}

.spotify:hover {
  opacity: 0.6;
}

.terminal {
  /* position: absolute; */
  /* top: 395px; */
  /* left: var(--left_space); */
  z-index: 1;
  fill: rgb(255, 255, 255);
}

.app {
  transition: transform 0.2s ease-in-out;
}
.app:hover {
  text-decoration: none;
  cursor: default;
  transform: translateY(-4px);
}
