.EmailContainer {
  position: relative;
  /* position: relative; */
  /* margin-top: 20vh; */
  /* padding-top: 100px; */
  color: #a9d6e5;
  /* padding-bottom: 60vh; */
  /* height: 100vh; */
  /* background-color: rgb(46, 148, 150); */
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  background-color: #031423;
  display: flex;
  flex-direction: column;
}
.contactTitle{
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: row;
  justify-content:center;
  /* padding-left: 20vw; */
  /* width: fit-content; */
  /* background-color: #12D8FA; */

  font-size: 60px;
  color: #a9d6e5;  
  margin: 15vh 0 15vh 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contactTitleBar{
  position: relative;
  border: 3px solid #012a4a;
  border-radius: 10px;
  padding: 0 10px;
  border-right: 3px solid #1FA2FF;
  animation: blinker-contact 2s ease-in-out infinite;
  /* padding: 0px 10px 10px 10px; */

}
@media (max-width: 1500px){
  .contactTitle{
    font-size: 50px;
  }
}
/* .contactTitleBar::before{
  content: '';
  width: 50px;
  height: 3px;
  background: rgb(169, 214, 229, 0.9);
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.contactTitleBar::after{
  content: '';
  width: 3px;
  height: 30px;
  background: rgb(169, 214, 229, 0.9);
  position: absolute;
  right: 0px;
  bottom: 0px;
} */
@keyframes blinker-contact {
  0%{
    border-top-color: #012a4a;
    border-right-color: #1FA2FF;
  }
  25%{
    border-right-color: #012a4a;
    border-bottom-color: #964be0;
  }
  50%{
    border-bottom-color: #012a4a;
    border-left-color: #1FA2FF;
  }
  75%{
    border-left-color: #012a4a;
    border-top-color: #964be0;
  }
  100%{
    border-top-color: #012a4a;
    border-right-color: #1FA2FF;
  }
}
.lineUnderContact {
  /* position: absolute; */
  /* margin-top: 20vh; */
  /* margin: 0 auto; */
  /* margin-bottom: 20vh; */
  align-content: center;
  width: 100%;
  height: 2px;
  background-color: #a9d6e5;

  /* background-color: white; */
}
.mainMailingContainer{
  /* margin-top: 10vh; */
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  margin-bottom: 20vh;
}
.leftbox{
  border-radius: 5px;
  padding: 25px;
  /* background-color: bisque; */
  text-align: left;
}
.chatI{
  font-size: 40px;
  font-weight: 500;
  padding-top: 10vh;
}
.chatII,.ideas{
  font-size: 40px;
  font-weight: 500;
}
.ideas{
  background: linear-gradient(to right, #1FA2FF 50%, #964be0  100%);
  /* background-clip: text; */
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(22, 166, 255); */
}
.createSomething{
  padding-top: 14px;
  font-size: 24px;
  padding-bottom: 14px;
}
.mailMeContainer{
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  font-size: 20px;
}
.myMail{
  border: 1px solid #a9d6e5;
  width: fit-content;
  border-radius: 5px 20px;
  margin-top: 10px;
  padding: 5px 10px;
  font-weight: 700;
  color: #a9d6e5;
}
.formContainer{
  padding: 30px;
  /* position: relative; */
  top: 10vh;
  left: 55%;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
  /* justify-content:left; */
  text-align: left;
  background-color: #031423;
  border-radius: 20px;
}

.mailsvgContainer{
  /* background-color: #964be0; */
  width: fit-content;
  height: fit-content;
  position: absolute;
  overflow: hidden;
  left: 22%;
  top: 50%;
  opacity: 0.4;
}
.mailAvatar{
  /* height: 40vh;
  width: 50vw; */
}

/* .titleBar {
  position: absolute;
  background-color: #e0e0e0;
  height: 30px;
  width: 100%;
  border-radius: 7px 7px 0 0;
}

.green {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: green;
}

.yellow {
  position: absolute;
  top: 10px;
  left: 25px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: orange;
}

.red {
  position: absolute;
  top: 10px;
  left: 40px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: red;
}

.emailTitleName {
  position: absolute;
  top: 5px;
  left: 45%;
} */
.sendMeMsg{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.labell{
  /* background-color: blueviolet; */
  color: #a9d6e5;
  font-size: 15px;
  opacity: 0.7;
}
.inputbox{
  height: 35px;
  width: 20vw;
  border: none;
  padding: 5px 15px;
  background-color: rgba(79, 123, 255, 0.1);
  border-radius: 7px;
  /* border-bottom: 2px solid rgb(0,0,0,0.4); */
}
.labell,.inputbox{
  margin-bottom: 20px;
  
}
.inputbox::placeholder{
  /* padding-left: 10px; */
}

.sendEmail {
  /* position: absolute; */
  top: 3px;
  left: 60px;
  padding: 1px 10px 1px 10px;
}
.sendEmail:hover {
  cursor: pointer;
  opacity: 0.6;
}

.yourEmail {
  /* position: absolute; */
  left: 25px;
  top: 35px;
  /* font-size: 14px; */
}

.emailInput {
  /* position: absolute; */
  top: 37px;
  left: 105px;
  /* height: 15px; */
  /* width: 78%; */
  
}

.line {
  position: absolute;
  top: 60px;
  left: 25px;
  height: 1px;
  width: 95%;
  background-color: grey;
}

.firstName {
  /* position: absolute; */
  top: 67px;
  left: 25px;
  /* font-size: 14px; */
}
.nameInput {
  /* position: absolute; */
  top: 68px;
  left: 75px;
  /* height: 15px; */
  /* width: 82%; */
}
.secondline {
  position: absolute;
  top: 90px;
  left: 25px;
  height: 1px;
  width: 95%;
  background-color: grey;
}
.messageOg{
  /* color: #a9d6e5; */
  margin-top: 10px;
  font-size: 15px;
}
.messageInput {
  /* position: absolute; */
  /* top: 100px;
  left: 25px; */
  height: 100px;
}

.sendBtn {
  /* position: absolute; */
  bottom: 10px;
  left: 50px;
  right: 2px;
  padding: 15px 25px;
  width: fit-content;
  text-decoration: none;
  border: none;
  border-radius: 9px;
  font-size: 13px;
  color: #012a4a;
  /* background-image: linear-gradient(to right, #1FA2FF 50%, #964be0  100%); */

  background-color: #a9d6e5;
           
 
 
}

.btn-grad {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.sendBtn:hover {
  opacity: 0.8;
}



