.EmailContainer {
  position: relative;
  /* position: relative; */
  /* margin-top: 20vh; */
  /* padding-top: 100px; */
  color: black;
  /* padding-bottom: 60vh; */
  /* height: 100vh; */
  background-color: rgba(244, 250, 255, 0.9);
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  /* background: linear-gradient(to bottom right, #f1e4ff 50%, #ebf6ff 80%); */
  display: flex;
  flex-direction: column;
}
.contactTitle {
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-left: 20vw; */
  /* width: fit-content; */
  /* background-color: #5f1461; */

  font-size: 40px;
  font-weight: 600;
  /* color: #a9d6e5; */
  margin: 5vh 0 3vh 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.textField::placeholder {
  color: #964be0;
  background-color: #12d8fa;
}
.MuiTextField-root {
  color: white;
}
.contactTitleBar {
  position: relative;
  /* letter-spacing: 50px; */
  color: black;
  /* border: 3px solid #1fa2ff; */
  border-radius: 5px;
  /* border-right: 3px solid #1FA2FF; */
  /* animation: blinker-contact 2s ease-in-out infinite; */
  padding: 0px 20px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
}
@media (max-width: 1500px) {
  .contactTitle {
    font-size: 50px;
  }
}

@keyframes blinker-contact {
  0% {
    border-top-color: #012a4a;
    border-right-color: #1fa2ff;
  }
  25% {
    border-right-color: #012a4a;
    border-bottom-color: #964be0;
  }
  50% {
    border-bottom-color: #012a4a;
    border-left-color: #1fa2ff;
  }
  75% {
    border-left-color: #012a4a;
    border-top-color: #964be0;
  }
  100% {
    border-top-color: #012a4a;
    border-right-color: #1fa2ff;
  }
}
.lineUnderContact {
  align-content: center;
  width: 100%;
  height: 2px;
  background-color: #a9d6e5;

  /* background-color: white; */
}
.mainMailingContainer {
  /* margin-top: 10vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
  margin-bottom: 7vh;
  /* background-color: #1fa2ff; */
}

.mainMailingContainerSecond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #012a4a; */
}

.leftbox {
  border-radius: 5px;
  padding: 25px;
  /* background-color: bisque; */
  text-align: left;
}
.chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chatI {
  font-size: 35px;
  font-weight: 600;
  /* padding-top: 10vh; */
  /* background-color: #12d8fa; */
}
.chatII,
.ideas {
  font-size: 35px;
  font-weight: 600;
  /* background-color: #1fa2ff; */
}
.ideas {
  background: linear-gradient(to right, #1fa2ff 30%, #964be0 70%);
  /* background-clip: text; */
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(22, 166, 255); */
}
.createSomething {
  padding-top: 14px;
  font-size: 25px;
  /* padding-bottom: 14px; */
  /* margin-bottom: 5vh; */
}
.mailMeContainer {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  font-size: 25px;
}
.myMail {
  /* border: 1px solid #a9d6e5; */
  /* width: fit-content; */
  border-radius: 5px 20px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 700;
  color: #1fa2ff;
}
.formContainerOuter {
  display: flex;
  flex-wrap: row;
  justify-content: center;
}
.mailSvgContainer {
  /* background-color: #12d8fa; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mailSvg {
  height: 30vh;
  /* width: 25vw; */
  /* background-color: #964be0; */
}
.formContainer {
  margin-top: 10vh;
  padding: 30px;
  /* position: relative; */
  top: 10vh;
  left: 55%;
  /* height: fit-content; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
  /* justify-content:left; */
  text-align: left;
  /* background-color: #47773c; */
  border-radius: 20px;
}

.sendMeMsg {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.labell {
  /* background-color: blueviolet; */
  /* color: #a9d6e5; */
  font-size: 15px;
  opacity: 0.7;
}
.inputbox {
  height: 35px;
  width: 450px;
  border: none;
  font-size: 18px;
  padding: 5px 15px;
  /* background-color: rgba(79, 123, 255, 0.1); */
  background-color: white;
  border-radius: 7px;
  /* border-bottom: 2px solid rgb(0,0,0,0.4); */
}
.inputbox:focus {
  color: black;
  font-size: 20px;
}
.labell,
.inputbox {
  margin-bottom: 20px;
}
.inputbox::placeholder {
  color: rgb(115, 114, 114);
  opacity: 0.5;
  /* padding-left: 10px; */
}

.sendEmail {
  /* position: absolute; */
  top: 3px;
  left: 60px;
  padding: 1px 10px 1px 10px;
}
.sendEmail:hover {
  cursor: pointer;
  opacity: 0.6;
}

.yourEmail {
  /* position: absolute; */
  left: 25px;
  top: 35px;
  /* font-size: 14px; */
}

.emailInput {
  /* position: absolute; */
  top: 37px;
  left: 105px;
  /* height: 15px; */
  /* width: 78%; */
}

.line {
  position: absolute;
  top: 60px;
  left: 25px;
  height: 1px;
  width: 95%;
  background-color: grey;
}

.firstName {
  /* position: absolute; */
  top: 67px;
  left: 25px;
  /* font-size: 14px; */
}
.nameInput {
  /* position: absolute; */
  top: 68px;
  left: 75px;
  /* height: 15px; */
  /* width: 82%; */
}
.secondline {
  position: absolute;
  top: 90px;
  left: 25px;
  height: 1px;
  width: 95%;
  background-color: grey;
}
.messageOg {
  /* color: #a9d6e5; */
  margin-top: 10px;
  font-size: 15px;
}
.messageInput {
  /* position: absolute; */
  /* top: 100px;
  left: 25px; */
  height: 100px;
}

.sendBtn {
  /* position: absolute; */
  cursor: pointer;
  bottom: 10px;
  left: 50px;
  right: 2px;
  padding: 15px 25px;
  /* width: fit-content; */
  text-decoration: none;
  border: none;
  border-radius: 9px;
  font-size: 13px;
  color: white;
  /* background-image: linear-gradient(to right, #1FA2FF 50%, #964be0  100%); */

  background-color: black;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.sendBtn:hover {
  opacity: 0.8;
}

@media (max-width: 1500px) {
  .contactTitle {
    font-size: 50px;
  }
}
