.outerProjectsContainer {
  padding: 0vh 20vh 7vh 20vh;
  background-color: #252534;
}
.projectsContainer {
  /* background-color: #02111e; */
  position: relative;
  /* z-index: 1; */
  /* background-color: rgb(255, 238, 238); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.preVideosContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  /* background-color: #964be0; */
  /* padding-left: 10vw; */
}

.mySwiper {
  width: 100%;
  background-color: rgb(53, 72, 56);

  /* padding: 30vh 0; */
}

.projectsTitle {
  /* position: relative;
  top: -24vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-left: 20vw; */
  /* margin-left: 17vw; */
  margin: 5vh 0 0vh 0;
  /* height: 50vh; */
  /* width: fit-content; */
  /* padding: 0px 10px 10px 10px; */
  border-radius: 5px;
  font-size: 40px;
  font-weight: 600;
  /* color: #52b69a; */

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* text-decoration: underline; */
}
.projectsTitleBar {
  /* position: relative; */
  /* width: fit-content; */
  /* padding: 0 10px 0px 10px;
  border-radius: 10px; */
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  /* letter-spacing: 40px; */
  /* background-color: rgb(205, 166, 115); */
  /* border: 2px solid #52b69a; */
  /* border: 3px solid #1fa2ff; */

  /* background-color: white; */
  border-radius: 5px;
  padding: 0px 20px;
  color: white;
  /* animation: blinkerProjects 2s ease-in-out infinite; */
}

@keyframes blinkerProjects {
  0% {
    border-top-color: #012a4a;
    border-right-color: #1fa2ff;
  }
  25% {
    border-right-color: #012a4a;
    border-bottom-color: #964be0;
  }
  50% {
    border-bottom-color: #012a4a;
    border-left-color: #1fa2ff;
  }
  75% {
    border-left-color: #012a4a;
    border-top-color: #964be0;
  }
  100% {
    border-top-color: #012a4a;
    border-right-color: #1fa2ff;
  }
}
.straightline {
  align-content: center;
  width: 100%;
  height: 2px;
  background-color: #a9d6e5;
}
.betprojectline {
  position: relative;
  left: -7vw;
  opacity: 0.3;
  width: 30%;
  height: 5px;
  border-radius: 3px;
}

.videosContainer {
  --height: 400px;

  height: 100%;
  margin-top: 70px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #252534;
  /* margin-left: 20vw; */
}

.videoContainerMain {
  display: flex;
  flex: row;
  /* background-color: #0195fe; */
  justify-content: center;
  /* margin-top: 40px; */
}
.videoContainer {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* padding: 0px 30px; */
  /* margin-bottom: 20vh; */
  /* position: relative; */
  width: fit-content;
  background-color: rgb(0, 0, 0);
  /* color: #6c63ff; */

  border-bottom: 5px solid #0195fe;
  /* border-radius: 5px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;

  /* border: 1px solid rgb(170, 170, 170); */
  /* border-radius: 99% 0% 31% 26% / 84% 32% 41% 17%; */
  margin-bottom: 40px;
}
.videoContainerII {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clockoutContainer {
  /* background-color: #ecf6ff; */

  /* background-color: #9bd5ff; */
  /* background-color: #6b6596; */
  /* border-radius: 76% 24%; */
}
.animeContainer {
  /* background-color: #e7f5ff; */
  /* border-radius: 30% 70% 70% 30% / 31% 30% 70% 69%; */
  /* background-color: #281141; */
  /* background-color: rgb(10, 58, 98); */
}
.covidVideoContainer {
  /* background-color: #0b2f0b; */
  /* border-radius: 76% 24% 70% 30% / 70% 62% 38% 30%; */
}
.pathFindingContainer {
  /* background-color: #0b2531; */
  /* border-radius: 24% 76% 34% 66% / 38% 62% 38% 62%; */
}

.showVideo {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
@keyframes animation-show {
  50% {
    opacity: 1;
  }
}
.hideVideo {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
@keyframes animate-hide {
  50% {
    opacity: 0;
  }
}
.video {
  /* z-index: 0; */
  display: block;
  height: var(--height);
  width: 800px;
  border-radius: 0px;
}
.video:hover {
  filter: brightness(1);
}

.clockout {
  /* background: linear-gradient(to bottom right, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/clockoutCalculatorDemo.gif);  */
  background: url(/src/components/public/clockoutCalculatorDemo.gif);

  /* background:rgba(0, 0, 0, 0.7) url(/src/components/public/clockoutCalculatorDemo.gif); */
  background-size: cover;
  /* filter: brightness(0.7); */
  /* opacity: 0.8; */
  /* background-blend-mode:darken; */
  /* filter: brightness(40%); */
}
.covid {
  /* background: linear-gradient(to bottom right, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/covidTravel.gif);  */
  background-image: url(/src/components/public/covidTravel.gif);
  background-size: cover;
}
.anime {
  /* z-index: 0; */
  /* background: linear-gradient(to bottom left, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/animeRecommendation.gif);  */
  background-image: url(/src/components/public/animeRecommendation.gif);
  /* margin-left: 25vh; */
  /* width: 800px; */
  background-size: cover;
}
.pathfinding {
  /* background: linear-gradient(to bottom left, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/pathfinding.gif);  */

  background-image: url(/src/components/public/pathfinding.gif);
  /* margin-left: 25vh; */
  background-size: cover;
}

.projectTitleContainer {
  margin: 0%;
  padding: 20px 20px;
  height: var(--height)-20px;
  color: white;
  width: 760px;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}
.lefttitleContainer {
  /* left: -10%; */
}
/* .lefttitleContainer::after {
  content: "";
  width: 30px;
  height: 1px;
  background: rgb(31, 162, 255);
  position: absolute;
  right: 30px;
  bottom: 0px;
  animation: slide-left 7s ease-in-out infinite;
} */
@keyframes slide-left {
  0% {
    right: 30px;
    width: 30px;
    background: #1fa2ff;
  }
  25% {
    width: 100px;
  }
  50% {
    right: 65%;
    width: 30px;
    background: #964be0;
  }
  75% {
    width: 100px;
  }
}
.righttitleContainer {
  /* top: 30%; */
}
/* .righttitleContainer::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #964be0;
  position: absolute;
  left: 30px;
  bottom: 0px;
  animation: slide-right 7s ease-in-out infinite;
} */
@keyframes slide-right {
  0% {
    width: 30px;
    left: 30px;
    background: #964be0;
  }
  25% {
    width: 100px;
  }
  50% {
    width: 30px;
    left: 65%;
    background: #1fa2ff;
  }
  75% {
    width: 100px;
  }
}
/* 
.animeTitleContainer{
  width: 650px;
}
.animeTitleContainer .linksDiv{
  width: 600px;
} */

.projectTitle {
  /* z-index: 1; */
  /* width: fit-content; */
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  /* margin-top: 20px; */
  /* margin-bottom: 25px; */
  /* justify-content: flex-end; */
  /* background-color: #2a3136; */
  /* color: white; */
  /* border: 2px solid #61a5c2; */
  border-radius: 5px;
  /* margin-bottom: 10px; */
  /* padding: 0 10px; */
  /* color:#012a4a; */

  cursor: pointer;
  /* transition: transform 0.3s ease-in-out; */
}
.rightProjectTitle {
  /* justify-content: flex-start; */
}
.leftProjectTitle {
  /* justify-content: flex-end; */
}

.projectTitleName {
  /* background-color: bisque; */
  width: fit-content;
  /* background-color: #76c893; */
  /* background-color: #5ea075; */

  /* border: 1px solid white; */
  color: white;
  /* padding: 0 5px; */
  /* margin-bottom: 5px; */
  border-radius: 5px;
  /* padding: 0px 15px; */
}
.projectTitle:hover {
  /* animation: leftToRight 2s ease-in-out; */
  /* color: rgb(22, 166, 255); */
  /* transform: translateY(-4px); */
}

.recommendationTitle {
  /* font-size: 40px; */
}
@keyframes leftToRight {
  0% {
    /* background: linear-gradient(to right,  #4ab0df  5%,#ffffff); */
    color: aquamarine;
  }
  100% {
    /* background: linear-gradient(to right,  #4ab0df  100%,#ffffff ); */
  }
}

.projectDescription {
  /* position: relative; */
  /* left: -15%; */
  /* color: #6a9bff; */
  color: rgb(212, 212, 212);
  /* background-color: rgb(215, 238, 255); */
  /* border-radius: 50px; */
  /* backdrop-filter: blur(15px); */
  text-align: left;
  overflow: hidden;
  /* padding: 20px 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 10px; */
  /* margin-left: -150px; */
  /* border: 1px solid #964be0; */
  /* border-radius: 5px; */
  font-size: 15px;
  /* font-weight: 600; */
  overflow-wrap: break-word;
}
.leftProjectDescription {
  justify-content: right;
  /* left: 0%; */
}
.clockoutDescription {
  /* background-color: #d1cbff; */
}
.projectDescHide {
  /* display: none; */
}
/* .projectTitleContainer:hover .projectDescription {
  display: block;
  animation: slide-up 1.5s ease-out;
  -webkit-animation: slide-up 1.5s ease-out;
  -moz-animation: slide-up 1.5s ease-out;
}
.projectTitleContainer:hover .projectTitle {
  animation: slide-up 1.5s ease-in-out;
}
.projectTitleContainer:hover .projectLanguageDiv {
  animation: slide-downlanguage 1.5s ease-in-out;
} */
@keyframes slide-up {
  50% {
    transform: translateY(-3px);
  }
  /* 100%{
    transform: translateY(0px);
  } */
}
@keyframes slide-downlanguage {
  50% {
    transform: translateY(+3px);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.linksDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin: 10px 0;
  padding: 5px;
  /* width: fit-content; */
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  /* padding: 7px; */
  /* border-radius: 5px; */
  /* margin: 10px 0 10px 0; */
  /* width: 500px; */
  background-color: #252534;
  color: white;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: rgb(254, 254, 254); */
  /* color: #a9d6e5; */
}
.leftLinksDiv {
  /* justify-content: flex-start; */
}
.rightLinksDiv {
  /* justify-content: flex-start; */
}
.linksDiv:hover {
  cursor: pointer;
  color: rgb(212, 212, 212);
  background-color: black;
}
.projectLanguageDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #252534;
  padding: 15px;
  /* background-color: #1fa2ff; */

  /* color: #e3f2fd; */
  /* padding: 0 10px; */
  border-radius: 0px;
  /* width: fit-content; */

  /* margin-top: 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* background-color: azure; */
  /* color: rgb(146, 213, 255); */
}
.rightProjectLanguageDiv {
  /* justify-content: flex-start; */
}
.leftProjectLanguageDiv {
  /* justify-content: flex-start; */
}
.projectLanguage {
  /* background-color: white; */
  cursor: default;
  /* margin-right: 10px; */
  /* padding: 2px 10px; */
  font-size: 13px;

  text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  /* background-color: white; */
  /* color: black; */
  /* border: 1px solid rgb(0, 0, 0); */
  /* border-radius: 5px; */
  color: rgb(212, 212, 212);

  /* background-size: 200% auto; */
  /* color: ;             */
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px; */
  display: block;
}
.projectLanguage:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}
.seeMoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: 20vh; */
}
.seeMore {
  width: fit-content;
  padding: 15px 25px;
  /* z-index: 1; */
  /* margin-left: 45%; */
  /* margin-bottom: 20vh; */

  /* text-decoration: none; */
  border: none;
  /* border-radius: 9px; */
  font-size: 15px;
  color: white;
  /* background-image: linear-gradient(to right, #1FA2FF 50%, #964be0  100%); */
  background-color: #02182b;
}
.seeMore:hover {
  opacity: 0.8;
  background-color: white;
  color: #02182b;
}

@media (max-width: 1500px) {
  .projectsTitle {
    /* font-size: 60px; */
  }
  .leftvideoContainer {
    /* margin-left: 150px; */
  }
  .rightvideoContainer {
    /* margin-right: 150px; */
  }
  .projectTitle {
    /* font-size: 35px; */
  }
  .projectDescription {
    font-size: 15px;
  }
  .linksDiv {
    font-size: 14px;
  }
  .projectLanguage {
    font-size: 14px;
  }
}
