/*.test {
  position: relative;
  background-color: cadetblue;
  /*background-image: url('./images/jelly.jpg');
  background-size: cover;
  height: 95vh;
  margin: 2vh;
  width: 75vw;
  border: 3px solid #73ad21;
}*/

.projectsContainer {
  --height: 400px;
  background-color: #e3f2fd;
  /* position: absolute; */
  /* top: 100vh; */
  /* left: 0px; */
  /* height: 505vh; */
  /* padding-top: 15vh; */
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-radius: 0 0 50% 50%/0 0 100% 100%; */
  /* transform: scaleX(1.5); */
  /* height: 100%; */
}

.wave{
  display: block;
  position: absolute;
  top: 57%;
  /* transform: rotate(180deg); */
}

/* .verticalLine{
  position: absolute;
  top: 125%;
  left: 24%;
  margin: 0 auto;
  bottom: 0px;
  align-content: center;
  width: 1px;
  height: 190vh;
  background-color: rgb(255, 255, 255);
} */

.projectsTitle{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-left: 20vw;
  /* margin-left: 17vw; */
  margin: 10vh 0;
  height: fit-content;
  /* width: fit-content; */
  /* padding: 0px 10px 10px 10px; */
  font-size: 100px;
  /* color: #52b69a; */

  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* text-decoration: underline; */
}
.projectsTitleBar{
  width: fit-content;
  padding: 0 10px 10px 10px;
  /* border: 2px solid #52b69a; */
  /* background-color: #52b69a; */
  color: #012a4a;
  border-radius: 5px;
  /* background-color: #012a4a; */
}
/* 
.projectsTitleFirstPart{
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
  font-size: 4vw;
}
.projectsTitleFirstPartChild{
  margin-right: 8px;
}
.childname{
  color: rgb(145, 54, 145);
}
.in{
  color: white;
}
.squigly{
  color: rgb(26, 96, 26);
}
.lambda{
  color: rgb(106, 82, 36);
}
.projectsTitleSecondPart{
  color: white;
} */
.straightline {
  /* position: absolute; */
  /* margin-top: 20vh; */
  /* margin: 0 auto; */
  /* margin-bottom: 20vh; */
  align-content: center;
  width: 100%;
  height: 2px;
  background-color: #012a4a;

  /* background-color: white; */
}
.betprojectline{
  position: relative;
  left: -7vw;
  opacity: 0.3;
  width: 30%;
  height: 5px;
  border-radius: 3px;
}

.secondwave{
  display: block;
  position: absolute;
  top: 117%;
  opacity: 0.3;
  /* transform: rotate(180deg); */
}
.thirdwave{
  display: block;
  position: absolute;
  top: 345%;
  opacity: 0.2;
  transform: rotate(180deg);
}
.fourthwave{
  display: block;
  position: absolute;
  top: 604%;
  /* opacity: 0.3; */
  /* transform: rotate(180deg); */
}
.fifthwave{
  display: block;
  position: absolute;
  top: 345%;
  opacity: 0.3;
  transform: rotate(180deg);
}

.videosContainer{
  /* background-color: yellow; */
  /* position: relative; */
  /* top: 30%; */
  /* left: 10%; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 5vh; */
  /* margin-bottom: 20vh; */
  /* align-items:center; */
}
.videoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 30px;
  margin-bottom: 10vh;
  /* position: relative; */
  /* background-color: aqua; */
}

.videoContainer2{
 
}
.leftvideoContainer{
  /* padding-left: 12%; */
}
.rightvideoContainer{
  /* padding-left: 12%; */
}
.animeVideoContainer{
  /* margin-bottom: 40vh; */
}
.pathFindingContainer{
  margin-bottom:20vh;
}
.video{
  /* background-color: black; */
  /* z-index: 1; */
  /* margin-bottom: 30vh; */
  position: relative;
  /* left: 50%;
  top: 50%; */
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* background-color: aqua; */
  height: var(--height);
  width: 700px;
  border: 2px solid #013a63;
  border-radius: 10px;
  filter: brightness(1);
  /* box-shadow: 3px 10px 10px 10px rgba(0, 0, 0, 0.2);   */
  /* transition: transform 0.3s ease-in-out; */
}


.clockout{
  /* background: linear-gradient(to bottom right, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/clockoutCalculatorDemo.gif);  */
  background: url(/src/components/public/clockoutCalculatorDemo.gif);

  /* background:rgba(0, 0, 0, 0.7) url(/src/components/public/clockoutCalculatorDemo.gif); */
  background-size: cover;
  /* filter: brightness(0.7); */
  /* opacity: 0.8; */
  /* background-blend-mode:darken; */
  /* filter: brightness(40%); */
}
.covid{
  /* background: linear-gradient(to bottom right, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/covidTravel.gif);  */
  background-image: url(/src/components/public/covidTravel.gif);
  background-size: cover;
}
.anime{
  /* background: linear-gradient(to bottom left, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/animeRecommendation.gif);  */
  background-image: url(/src/components/public/animeRecommendation.gif);
  /* margin-left: 25vh; */
  width: 700px;
  background-size: cover;
}
.pathfinding{
  /* background: linear-gradient(to bottom left, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 90%), url(/src/components/public/pathfinding.gif);  */

  background-image: url(/src/components/public/pathfinding.gif);
  height: 510px;
  /* margin-left: 25vh; */
  background-size: cover;
}


.projectTitleContainer{
  /* position: relative; */
  margin:0%;
  padding: 10px 20px;
  /* height: 300px; */
  height: var(--height)-20px;
  width: 600px;
  /* max-width: 400px; */
  
  color: #012a4a;
  font-size: 50px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px; 
  /* background: #012a4a; */
  transition: all 2s ease-in-out;
  /* transform: rotate(-20deg); */
  /* transform: rotate(-90deg); */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lefttitleContainer{
  top: 25%;
  left: 85%;
}
.righttitleContainer{
  /* top: 58%;
  left: -15%; */
}
.pathfindingTitleContainer{
  /* top: 60%; */
}
.animeTitleContainer{
  /* left: 40%; */
  width: 600px;
}
.animeTitleContainer .linksDiv{
  width: 600px;
}

.projectTitle{
  width: fit-content;
  display: flex;
  flex-direction: row;
  background-color: #013a63;
  /* color: rgb(0, 0, 0); */
  /* border: 2px solid #61a5c2; */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  color: #e3f2fd;
  cursor: pointer;
  /* transition: transform 0.3s ease-in-out; */
}
.projectTitleName{
  /* background-color: bisque; */
  width: fit-content;
  /* background-color: #76c893; */

  margin-bottom: 5px;
  border-radius: 5px;
  /* padding: 0px 15px; */
}
.projectTitle:hover{
  animation: leftToRight 2s ease-in-out;
  /* color: rgb(22, 166, 255); */
  /* transform: translateY(-4px); */
}
@keyframes leftToRight {
  0%{
    /* background: linear-gradient(to right,  #4ab0df  5%,#ffffff); */
    color: aquamarine;
  }
  100%{
    /* background: linear-gradient(to right,  #4ab0df  100%,#ffffff ); */
  }
}
.firstTitle{
  /* position: absolute; */
  top: 20%;
  left: 20%;
  z-index: 1;
}
.secondTitle{
  /* position: absolute; */
  top: 45%;
}
.projectDescription{
  /* position: relative; */
  text-align: left;
  /* background-color: aqua; */
  overflow: hidden;
  /* padding: 20px 0px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: #012a4a; */
  /* padding: 10px; */
  /* margin-left: -150px; */
  border-radius: 5px;
  font-size: 17px;
  overflow-wrap: break-word;
}
.rightProjectDescription{
  /* padding-right: 150px; */
}

.projectDescHide{
  /* display: none; */
}
.projectTitleContainer:hover .projectDescription{
  /* height: fit-content; */
  /* visibility: visible; */
  display: block;
  animation: slide-down 1.5s ease-out;
  /* height: 100px; */
  /* animation-delay: 5s; */
  -webkit-animation: slide-down 1.5s ease-out;
  -moz-animation: slide-down 1.5s ease-out;
}
.projectTitleContainer:hover .projectTitle{
  animation: slide-up 1.5s ease-in-out;
}
.projectTitleContainer:hover .projectLanguageDiv{
  animation: slide-downlanguage 1.5s ease-in-out;
  /* animation-delay: 2s; */
}
@keyframes slide-up {
  50%{
    transform: translateY(-3px);
  }
  /* 100%{
    transform: translateY(0px);
  } */
}
@keyframes slide-downlanguage {
  50%{
    transform: translateY(+3px);
  }
}
@keyframes slide-down {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@-webkit-keyframes slide-down {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


.linksDiv{
  text-align: left;
  font-size: 15px;
  margin: 10px 0 20px 0;
  width: 500px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: rgb(254, 254, 254); */
  /* color: #a9d6e5; */
}
.projectLanguageDiv{
  width: fit-content;
  text-align: left;
  margin-top: 10px;
  display: flex;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  /* background-color: azure; */
  /* color: rgb(146, 213, 255); */
  flex-direction: row;
}
.projectLanguage {
  /* background-color: white; */
  cursor: default;
  margin: 10px 10px 10px 0;
  padding: 2px 5px;
  font-size: 13px;
  
  text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  /* background-color: white; */
  /* color: black; */
  /* border: 1px solid rgb(0, 0, 0); */
  /* border-radius: 5px; */

  /* background-size: 200% auto; */
  /* color: ;             */
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px; */
  display: block;
}
.projectLanguage:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
}
.seeMore{
  width: fit-content;
  padding: 15px 25px;
  /* z-index: 1; */
  margin-left: 45%;
  margin-bottom: 20vh;

  /* text-decoration: none; */
  border: none;
  border-radius: 9px;
  font-size: 15px;
  color: white;
  /* background-image: linear-gradient(to right, #1FA2FF 50%, #964be0  100%); */
  background-color: #012a4a;
}
.seeMore:hover{
  opacity: 0.8;
}




